@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/PretendardVariable.woff2") format("woff2");
}
@font-face {
    font-family: "Neue Regrade";
    font-weight: 400;
    src: url("./assets/fonts/Neue Regrade Variable.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --league: theme("colors.iron");

    @apply text-gray-900 bg-white;

    word-break: keep-all;
    line-height: 1.4;
    text-wrap: balance;
}

* {
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
    padding: 0;
}

html,
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
    @apply font-big font-black;

    font-size: 4.25rem;
    line-height: 1;
    margin-bottom: -0.5rem;
}

h2 {
    @apply font-special font-bold;

    font-size: 2.25rem;
    line-height: 1;
    margin-bottom: -0.5rem;
}

h3 {
    @apply font-special font-bold;

    font-size: 1.35rem;
    line-height: 1;
}

span {
    font-size: 1.15rem;
    line-height: 1;
    margin-bottom: -3px;
}

/* TODO */
::-webkit-scrollbar {
    width: 0px;
    height: 15px;
    display: block;
    -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
    background: var(--c-foreground-gray);
    border-radius: var(--radius);
    background-clip: padding-box;
    border: 4px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--c-background-dark);
    background-clip: padding-box;
    border: 4px solid transparent;
}

a.underline {
    text-decoration: underline;
    text-decoration-color: var(--gray-500);
    text-underline-offset: 4.35px;
}